<strong>Olá {{ student }}</strong>
<p>Bem vindo ao Gympoint, confira os dados da sua inscrição abaixo:</p>
<p>
  <strong>Plano:</strong> {{ plan }} <br />
  <strong>Duração em Meses: </strong> {{ duration }} <br />
  <strong>Data de Início: </strong> {{ start_date }} <br />
  <strong>Data de Termino: </strong> {{ end_date }} <br />
  <strong>Valor Mensal: </strong> R$ {{ price }} <br />
  <strong>Valor Total: </strong> R$ {{ price_sum }} <br />
</p>
